# Step 1 - Data Engineering

### The climate data for Hawaii is provided through two CSV files. Start by using Python and Pandas to inspect the content of these files and clean the data.Create a Jupyter Notebook file called data_engineering.ipynb and use this to complete all of your Data Engineering tasks. Use Pandas to read in the measurement and station CSV files as DataFrames. Inspect the data for NaNs and missing values. You must decide what to do with this data. Save your cleaned CSV files with the prefix clean_.

# Data Engineering

### Read in Files/Inspect and clean the Data

In [1]:
# Dependencies
import pandas as pd
import numpy as np

In [2]:
# Read in the file hawaii_measurements.csv
measurements = "hawaii_measurements.csv"
measurements_df = pd.read_csv(measurements)
measurements_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [3]:
len(measurements_df) # lenght 19550

19550

In [4]:
measurements_df['station'].value_counts()

USC00519281    2772
USC00519397    2724
USC00513117    2709
USC00519523    2669
USC00516128    2612
USC00514830    2202
USC00511918    1979
USC00517948    1372
USC00518838     511
Name: station, dtype: int64

In [5]:
measurements_df.dtypes

station     object
date        object
prcp       float64
tobs         int64
dtype: object

In [6]:
# Inspect the data for Nan and missing data
measurements_df.isnull() # check to see if any data is Nan in the series
measurements_df.isnull().values.any()# just check overall to see if any missing  
measurements_df.isnull().sum().sum() # total number of all the missing values
measurements_df.isnull().sum() # all the columns which have missing data

station       0
date          0
prcp       1447
tobs          0
dtype: int64

### Clean Data, decision is to fill Nans wiith zeroes to maintain some data

In [7]:
measurements_df = measurements_df.fillna(0)
measurements_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06  0.00    73

In [8]:
measurements_df.to_csv('clean_hawaii_measurements.csv', index=True)

In [9]:
# Read in the file hawaii_measurements.csv
stations = "hawaii_stations.csv"
stations_df = pd.read_csv(stations)
stations_df.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [10]:
stations_df.to_csv("clean_hawaii_statioins.csv", encoding="utf-8", index=True)